.table-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    border-radius: 8px;
    font-family: sans-serif;
}

.table-header, .table-row {
    display: grid;
    grid-template-columns: 100px 2fr 1.4fr repeat(4, 1.5fr);
    align-items: center;
    padding: 12px 20px;
}

.table-header {
    background-color: #171212;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.table-row {
    border-bottom: 1px solid #eee;
}